
#wrapper {
    width: 1260px;
    margin: 0px auto;
    box-sizing: border-box;
}
.product-list {
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
    /* justify-content: center; */
}
.product-list li {
    display: block;
    width: 25%;
    box-sizing: border-box;
    list-style: none;
    margin-right: 50px;
    padding: 15px;
}


